@model ProductView.Models.ProductDto
@{
    ViewData["Title"] = "Thêm sản phẩm";
}
<h3>Thêm sản phẩm</h3>
<form method="post">
    <div class="mb-3">
        <label class="form-label">Tên</label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="mb-3">
        <label class="form-label">Giá</label>
        <input class="form-control" asp-for="Price" />
    </div>
    <button class="btn btn-primary" type="submit">Lưu</button>
    <a class="btn btn-secondary" asp-action="Index">Hủy</a>
</form>
